        <!-- Jumbotron -->
        <div class="jumbotron text-center">
            <h1>Acerca de..</h1>
        </div>
        <!-- form 1 -->
        <div class="row">
            <div class="col-sm-8">
                <h3>Gamez Gordillo Andres Alejandro</h3>
                <p>Version original Quiz adaptada de Juan Quemada, MiriadaX curso node.js</p>
                <a href="https://github.com/alejandrogamezg/black-master-2015">Proyeto Git </a><br/>
                <a href="https://radiant-island-5807.herokuapp.com">Despliegue en Heroku</a><br/>
            </div>
            <div  class="col-sm-4">
        </div>
